/*-------------------- BASIC --------------------*/

html { 
	height:100%;
	}
a { 
	color: #f9bf64; 
	text-decoration:none;
	}
	a:visited { color: #d49128;}
	a:hover { 
		color:#FFFFFF;
		text-decoration:underline;
		}
		a.nav:link {
		text-decoration:none;
		}
		a.nav:hover {
		text-decoration:underline;
		}
		a.nav_main:link {
		font-size:1.05em;
		text-decoration:none;
		}
		a.nav_main:hover {
		font-size:1.05em;
		text-decoration:underline;
		}
		a:not([href]):hover {
		color:#eaeaea;
		text-decoration:none;
		}
		a:not([href]) {
		color:#eaeaea;
		text-decoration:none;
		}
		a[href="#top"] {
		color:#f9bf64;
		}
		a[href="#top"]:visited {
		color:#f9bf64;
		}
.border {
	text-shadow:
	-2px 0 black,
	0 2px black,
	2px 0 black,
	0 -2px black;
	}
p {
	margin-left:.5em;
}

li {
	margin-bottom: .5em;
}
		
/*-------------------- IMAGE --------------------*/

img#logo {
	max-height:300px;
	margin-left:3em;
	margin-top:1em;
}
img#headerscreenshot {
	height:400px;
	position:absolute;
	top:0px;
	right:0px;
	z-index:-1;
	margin-right:0em;
	margin-top:0em;
}
li.list {
	margin-bottom:-15px;
	margin-top:5px;
}
img.right {
	position:absolute;
	right:0px;
	margin:2px;
}

/*-------------------- OVERALL PAGE CONSTRUCTION --------------------*/

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Verdana, Geneva, sans-serif;
	font-size:14px;
	color:#d5d5d5;
	background-image: url(images/background.png);
	}
section { 
	border-radius:5px;
	margin:1em 50px 1em 50px;
	/*min-width:1300px;*/
	display:flex;
	background: rgba(89,40,20,.9);
	border:3px solid #1a0601;
	justify-content: space-between;
	}
header {
	text-align:center;
	}
	header.article {
		margin-top:1em;
		font-size:1.3em;
		text-align:left;
		border-bottom:2px solid rgba(0,0,0,.4);
		width:98%;
		}
	header.subsection:after {
		content: "";
		height: 2px;
		display: block;
		bottom: -2px;
		position: relative;
		background: linear-gradient(to right, rgba(0,0,0,.4), rgba(0,0,0,0));
		}
	header.subsection {
		text-align:left;
		font-size:1.2em;
		margin-top:1em;
		width:50%;
		}
	header.subsection2:after {
		content: "";
		height: 2px;
		display: block;
		bottom: -2px;
		position: relative;
		background: linear-gradient(to right, rgba(0,0,0,.4), rgba(0,0,0,0));
		}
	header.subsection2 {
		text-align:left;
		margin-top:1em;
		width:25%;
		}
article {
	text-align:justify;
	margin:1em 1.5em 1em 1.5em;
	padding:2em;
	background-color:rgba(0,0,0,.2);
	border-radius:10px;
	flex: 1 1 auto;
}

div.imagefloater {
	width:200px;
	max-width:25%;
	padding:4px 4px 1em 4px;
	margin:1em;
	float:right;
}

div.imagebox {
	border:3px solid rgba(0,0,0,.3);
	padding:4px 4px 1em 4px;
	background:rgba(0,0,0,.3);
	border-radius:5px;
	margin:1em 0 1em 0;
}

div.seperator {
	margin-top:.5em;
	text-align:center;
	border-bottom:1px solid rgba(0,0,0,.4);
	width:98%;
}

div.guide {
	width:80%;
	margin-left:auto;
	margin-right:auto;
	padding:3em;
	border-radius:10px;
	background-color:rgba(0,0,0,.2);
}

input[type=number] {
	background-color: rgba(243,88,12,.2);
	padding:0.2em;
	border: 2px solid #37190c;
	border-radius:5px;
	color:#d5d5d5;
	outline:none;
}
input[type=number]:focus {
	background-color: rgba(243,88,12,.2);
	border:2px solid #1b0a03;
	padding:0.2em;
	border-radius:5px;
	color:#d5d5d5;
	outline:none;
}

/*------------------ Equipment ------------------*/

div.equipmentbox,div.scalecontainer {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;
	
}
div.equipmentbox-item {
	width:45%;
	background:#37190c;
	margin:1em 0 1em 0;
	border-radius:5px;
	padding:1em;
	text-align:left;
	
}

div.scalecontainer {
	margin-left:auto;
	margin-right:auto;
	max-width:100%;
	min-width:600px;
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;
}


div.scalecontainer > .bgimage {
	width: 32%;
	margin:0.25em 0 0.25em 0;
	padding-top:32%; /* 1:1 Aspect Ratio */
	transition: width 0.25s, padding-top 0.25s, visibility 0.25s ease-out;
	position: relative; /* If you want text inside of it */
	background-repeat: no-repeat;
	background-size: cover;
}

.bgimage.head {
	background:#37190c;
	background-image:url(images/ingame/scale_head.png);
}
.bgimage.wing {
	background:#37190c;
	background-image:url(images/ingame/scale_wing.png);
}
.bgimage.chest {
	background:#37190c;
	background-image:url(images/ingame/scale_chest.png);
}
.bgimage.foreleg {
	background:#37190c;
	background-image:url(images/ingame/scale_foreleg.png);
}
.bgimage.back {
	background:#37190c;
	background-image:url(images/ingame/scale_back.png);
}
.bgimage.hindleg {
	background:#37190c;
	background-image:url(images/ingame/scale_hindleg.png);
}
.bgimage.tail {
	background:#37190c;
	background-image:url(images/ingame/scale_tail.png);
}
.bgimage.claw {
	background:#37190c;
	background-image:url(images/ingame/scale_claw.png);
}


.text {
	padding: 1em;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	text-align:left;
	overflow:hidden;
	transition:visiblity 0.25s;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
}
.text:hover {cursor: pointer;}

.detailbox {
	display:flex;
	margin: 0 0.425em 0.425em 0;
	justify-content:space-around;
	align-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	width:100%;
	background: rgba(200,100,0,0.15);
	border-radius:10px;
	min-height:30px;
	max-height: 25%;
}

.socket {
	width:60%;
	text-align:left;
	font-size:0.75em;
}

.detailbox > img {
	display:flex;
	max-width: 25%;
	height:auto;
	margin:1px;
}

img.claw {
	display:flex;
	width:2em;
	height:auto;
}

.detailbox > p {
	width:60%;
	margin:1px;
	text-align:left;
	font-size: 0.9em;
	padding: 1px;
}

.fulltext {
	padding: 1em;
	text-align:left;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow-x:hidden;
	overflow-y:scroll;
	visibility:hidden;
	font-size:0em;
}
.fulltext:hover {cursor: pointer;}

.fulltext::-webkit-scrollbar {
	background-color:rgba(65,29,14,0.25);
	width:6px;
}

.fulltext::-webkit-scrollbar-thumb {
	background-color:#1e0d06;	
	border-radius: 3px;
}

img.item {
	width:20px;
	margin-bottom:-0.5em;
}

img.techkit {
	max-height:24px;
}

.variationcontainer {
	display:flex;
	justify-content:space-around;
	align-content: flex-start;
	flex-direction: row;
	flex-wrap: no-wrap;
	align-items: stretch;
	width:100%;
}

.variation-subcontainer {
	display:flex;
	padding:0.3em;
	border-radius:5px;
	margin: 0.4em;
	justify-content:flex-start;
	align-content: flex-start;
	flex-direction: column;
	align-items: flex-start;
	min-width:45%;
	background: rgba(0,0,0,.25);
	
}

/*------------------ Sidebar ------------------*/
.sidebarbox {
	flex: 0 0 250px;
	max-width:20%;
}

.side {
	background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0));
}

.sidecontent {
	margin:10px;
}

.sidecontent p {
	margin-left:1.3em;
}

.sideheader {
	padding:20px 0 0 0;
	border-radius:0px;
	margin:0;
	height:30px;
	background:#0d0502;
	text-align:center;
}
	
/*------------------ Navigation ------------------*/
.navbox {
	flex: 0 0 250px;
	max-width:20%;
}
.nav {
	background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0));
}

.navheader {
	padding:20px 0 0 0;
	border-radius:0px;
	margin:0px;
	height:30px;
	background:#0d0502;
	text-align:center;
}
 
.navcontent {
	display:flex;
	flex-direction:column;
	padding:10px;
}
 
.nav a {
	background: rgba(0,0,0,.5);
	border-radius:10px;
	text-decoration:none;
	text-align:center;
	padding: .75em 1em;
    font-size:15px;
	margin-top:5px;
	color: #f9bf64; 
} 
.nav a:visited {
	color: #f9bf64; 
}

.nav a:hover {
	background: rgba(0,0,0,1);
	transition: .5s;
	
}

/*------------------ Tooltips -------------------*/

.tooltip {
	position: relative;
	display:inline-block;
	border-bottom:1px dotted #d5d5d5;
}
		
.tooltip .tooltiptext {
	visibility: hidden;
	background-color: #0d0502;
	color:#fff;
	text-align:left;
	padding: 10px;
	border-radius: 6px;
	position:absolute;
	z-index:1;
    top: -5px;
    left: 110%; 
	min-width:200px;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 15px;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #0d0502 transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/*---------- Table -----------*/

table {
	width:100%;
	margin:1em auto 1em auto;
	border:2px solid #1a0601;
	border-radius:5px;
	border-collapse:collapse;
	font-size:0.85em;
}
tr {
	width:100%;
	margin:0;
	height:40px;
}
tr:nth-child(odd) {
	background-color: rgba(0,0,0,.3);
	}
tr:nth-child(even) {
	background-color: rgba(0,0,0,.2);
	}
tr:hover {
	background-color: rgba(243,88,12,.2);
	transition: .25s;
}
td {
	border:1px solid #1a0601;
	margin:0;
	padding:3px 1em 3px 1em;
	text-align:left;
	min-width:4.5em;
}
tr.title {
	background-color: rgba(0,0,0,.4);
	border-bottom:3px solid #1a0601;
	margin:0;
	padding:3px;
	font-size:1.2em;
	text-align:center;   
	user-select: none;  
}

tr.subtitle {
	background-color: rgba(0,0,0,.4);
	border-bottom:2px solid #1a0601;
	padding:3px;
	text-align:center;
	user-select: none; 
}

td.sortable:hover {
	background-color: rgba(243,88,12,.4);
	cursor:pointer;
	transition: .25s;
}

.arrow {
	font-size:.75em;
	float:right;
	margin: auto 0 auto 0;
}

.no-resize, .resize {
}

/* --------- Modal Images --------------- */

 /* Style the Image Used to Trigger the Modal */
.modalImg {
    cursor: pointer;
    transition: 0.1s;
	outline: 0px solid rgba(249,191,100,.4);
}

.modalImg:hover {
	outline: 3px solid rgba(249,191,100,.4);
	outline-offset: -2px;
	border-radius: 5px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}